<% include ./partials/header %>
<div class="container custom">
    <div class="card">
        <h2 class="card-header">Login</h2>
        <div class="card-body">
            <form action="/login" method="POST">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" name="username" class="form-control" placeholder="Enter username">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" name="password" class="form-control" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>    
    </div>
</div>
<% include ./partials/footer %>