<% include ../partials/header %>

<div class="jumbotron container">
    <h1 class="display-4">Automatic Question Paper Gen.</h1>
    <p class="lead">This is a platform where you can automatically generate a question paper based on your preferences.
    </p>
    <hr class="my-4">
    <p>Go check out our question library by clicking the button below.</p>
    <div class="btn-group btn-group-toggle">
        <a class="btn btn-primary btn-lg" href="/papers/generate" role="button">Generate Question Paper</a>
        <a class="btn btn-dark btn-lg" href="#" role="button">Search Question Paper</a>
    </div>
</div>

<% include ../partials/footer %> 